.title {
    font-weight: 700;
    line-height: 1.15;
    color: inherit;
    font-family: var(--font-secondary);
}

.primary {
    font-size: 40px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-bottom: 34px;
}

.secondary {
    font-size: 40px;
    margin-bottom: 32px;
}

.gradient {
    background: linear-gradient(to top, #ffffff 0%, #c1bede 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    .primary {
        font-size: 112px;
        line-height: 1.13;
        margin-bottom: 48px;
    }

    .secondary {
        font-size: 64px;
        margin-bottom: 48px;
    }
}
